<article class="post card">
    <div class="card-header">
        <div class="title">
            {{title}}
        </div>
        <div class="meta">
             {{vote_count}} {{format_plural "point" vote_count}} | Posted by {{user.username}} on {{format_date created_at}}
        </div>
    </div>
    <div class="card-body">  
        <div class="content">
            {{post_content}}
        </div>
        <div class="drk">  
            <i class="fa-solid fa-comment"></i>{{comments.length}} {{format_plural 'comment' comments.length}}
        </div>
    </div>
</article> 