<article>
    <div class="center"><a href="/dashboard" class="dash-btn">&larr; Back to Dashboard</a></div>
    <div class="card">
        <div class="card-header">
            Edit Post
        </div>
        <div class="card-body">
            <form class="edit-post-form">
                <div>
                    <input class="form-input" type="text" name="post-title" value="{{post.title}}" />
                    <textarea class="form-textarea" name="post-content">{{post.post_content}}</textarea>
                </div>
                 <div>
                {{post.vote_count}} {{format_plural "point" post.vote_count}} 
                {{!-- by you on {{format_date post.created_at}} --}}
                |
                <a href="/post/{{post.id}}" class="comment-count"><i class="fa-solid fa-comment"></i>{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
                </div>
                <button class="btn" type="submit">Update Post</button>
                <button class="btn delete-post-btn" type="button">Delete Post</button>
            </form>
        </div>
    </div>
</article>

{{> comment-form}}

{{> comments post.comments }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
